
/*Storia*/
/*Section1*/

#storia .container{
    background: darkred;
    height: auto;
    display: flex;
    justify-content: space-evenly;
  }
  
  #storia .container .sinistra h1{
    font-size: 50px;
    color: white;
    margin-left: 3rem;
    padding-top: 2rem;
    text-align: center;
  }
  
  #storia .container .sinistra .color{
    color: orange;
  }
  
  #storia .container .sinistra p{
    font-size: 30px;
    margin-top: 1.5rem;
    max-width: 1000px;
    padding-bottom: 1rem;
    color: white;
    text-align: center;
  }
  
  /*Section2*/
  
  #storia2 .container2 {
    background: rgb(87, 86, 86);
    display: flex;
    justify-content: space-around;
    height: auto;
  }
  
  #storia2 .container2 .sinistra2 img{
    display: none;
  }

  #storia2 .container2 .destra2 h1 {
    font-size: 45px;
    margin-top: 3rem;
    color: white;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  #storia2 .container2 .destra2 .color {
    color: orange;
    margin-left: 1.5rem;
  }
  
  #storia2 .container2 .destra2 .color2 {
    color: orange;
  }
  
  #storia2 .container2 .destra2 ul {
    font-size: 30px;
    color: white;
    margin-left: 1.5rem;
  }
  
  #storia2 .container2 .destra2 a{
    color: white;
  }
  
  #storia2 .container2 .destra2 a:hover{
    color: orange;
    transform: scale(10.1);
  }