  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li {
      font-size: 15px;
      margin: 0px 20px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    nav ul{
      position: fixed;
      width: 100%;
      height: auto;
      background: #333;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
      text-decoration: none;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #333;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }



/*HOME TITLE*/
#showcase .container{
  font-size: 40px;
}

/*STORIA-SEZIONE 2*/
#storia2 .container2 .sinistra2 img{
  display: none;
}
#storia2 .container2 .destra2 h1 {
 text-align: center ;
}

#storia2 .container2 .destra2{
padding-bottom: 1rem;
}

  /*GALLERIA */
  #gallery .title{
    font-size: 40px;
  }

  /*VIDEO-GALLERY*/
  #video-gallery .title{
    font-size: 50px;
  }

  /*RASSEGNA STAMPA*/
  #rassegna {
    height: auto;
    padding-bottom: 1rem;
  }
  
  #rassegna .title{
    font-size:40px;
    padding-top: 3rem;
  }

  #giornali #giornale-1 .giornale-a img{
    max-width: 320px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  #giornali #giornale-2 .giornale-b img{
    max-width: 320px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  #giornali #giornale-3 .giornale-c img{
    max-width: 320px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  #giornali #giornale-1 .giornale-title{
    margin-left: 0rem;
  }

  #giornali #giornale-2 .giornale-title{
    margin-left: 0rem;
  }

  #giornali #giornale-3 .giornale-title{
    margin-left: 0rem;
    width: 250px;
  }

  /*LOCANDINE*/
  #locandine-background{
    height: 50vh;
    font-size: 50px;
  }

  #locandine #locandine-1 .locandina-title{
    color: white;
    font-size: 30px;
    width: 300px;
    text-align: center;
    background: #333;
    border-radius: 10px;
    padding-top: 1rem;
  }
  
  #locandine #locandine-1 .locandina-a img{
    max-width: 320px;
  }

  #locandine #locandine-2 .locandina-title{
    color: white;
    font-size: 30px;
    width: 300px;
    text-align: center;
    background: #333;
    border-radius: 10px;
    padding-top: 1rem;
  }
  
  #locandine #locandine-2 .locandina-b img{
    max-width: 320px;
  }
  #locandine #locandine-3 .locandina-title{
    color: white;
    font-size: 30px;
    width: 300px;
    text-align: center;
    background: #333;
    border-radius: 10px;
    padding-top: 1rem;
  }
  
  #locandine #locandine-3 .locandina-c img{
    max-width: 320px;
  }

  /*ALTRO MATERIALE TECNICO*/
  #tecnico #tecnico-1 .tecnico-title{
    font-size: 20px;
    width: 200px;
    margin-left: 0rem;
  }
  
  #tecnico #tecnico-1 .tecnico-a img{
    max-width: 320px;
  }

  #tecnico #tecnico-2 .tecnico-title{
    font-size: 20px;
    width: 200px;
    margin-left: 0rem;
  }
  
  #tecnico #tecnico-2 .tecnico-b img{
    max-width: 320px;
  }

  #tecnico #tecnico-3 .tecnico-title{
    font-size: 20px;
    width: 200px;
    margin-left: 0rem;
  }
  
  #tecnico #tecnico-3 .tecnico-c img{
    max-width: 320px;
  }

  #tecnico #tecnico-4 .tecnico-title{
    font-size: 20px;
    width: 300px;
    margin-left: 0rem;
  }
  
  #tecnico #tecnico-4 .tecnico-d img{
    max-width: 320px;
  }

  /*MATERIALE TECNICO(SCENOGRAFIE SCARFALIETTO 2)*/
#scenografie-scarfalietto .title h1{
  font-size: 50px;
}

  #tecnico-scarfalietto #tecnico-1 .tecnico-a img{
    max-width: 320px;
  }

  #tecnico-scarfalietto #tecnico-2 .tecnico-b img{
    max-width: 320px;
  }

  #tecnico-scarfalietto #tecnico-3 .tecnico-c img{
    max-width: 320px;
  }

  /*MATERIALE TECNICO(SCENOGRAFIE FORTUNA)*/
  #tecnico-fortuna #tecnico-1 .tecnico-a img{
    max-width: 320px;
  }

  #tecnico-fortuna #tecnico-2 .tecnico-b img{
    max-width: 320px;
  }

  #tecnico-fortuna #tecnico-3 .tecnico-c img{
    max-width: 320px;
  }

  #tecnico-fortuna #tecnico-4 .tecnico-d img{
    max-width: 320px;
  }

  #tecnico-fortuna #tecnico-5 .tecnico-a img{
    max-width: 320px;
  }

  #tecnico-fortuna #tecnico-6 .tecnico-b img{
    max-width: 320px;
  }

  #tecnico-fortuna #tecnico-7 .tecnico-c img{
    max-width: 320px;
  }

/*MATERIALE TECNICO(SCENOGRAFIE MINISTRO 1)*/
  #tecnico-ministro #tecnico-1 .tecnico-a img{
    max-width: 320px;
  }

  #tecnico-ministro #tecnico-2 .tecnico-b img{
    max-width: 320px;
  }

  #tecnico-ministro #tecnico-3 .tecnico-c img{
    max-width: 320px;
  }

  #tecnico-ministro #tecnico-4 .tecnico-d img{
    max-width: 320px;
  }

  #tecnico-ministro #tecnico-5 .tecnico-a img{
    max-width: 320px;
  }

  #tecnico-ministro #tecnico-6 .tecnico-b img{
    max-width: 320px;
  }

  #tecnico-ministro #tecnico-7 .tecnico-c img{
    max-width: 320px;
  }

  /*MATERIALE TECNICO(SCENOGRAFIE MINISTRO 1)*/
  #tecnico-ministro #tecnico-1 .tecnico-a img{
    max-width: 320px;
  }

  #tecnico-ministro #tecnico-2 .tecnico-b img{
    max-width: 320px;
  }

  #tecnico-ministro #tecnico-3 .tecnico-c img{
    max-width: 320px;
  }

  #tecnico-ministro #tecnico-4 .tecnico-a img{
    max-width: 320px;
  }

  #tecnico-ministro #tecnico-5 .tecnico-b img{
    max-width: 320px;
  }

  #tecnico-ministro #tecnico-6 .tecnico-c img{
    max-width: 320px;
  }

  /*BIGLIETTI E BROCHURE*/
  #biglietti .box-biglietti{
    justify-content: space-evenly;
  }

  #biglietti .box-biglietti .box{
    margin-left: 0rem;
    }


     /*RASSEGNA 94*/
    .biglietti94 .biglietto94-1 img{
      max-width: 70%;
    }
    
    .biglietti94 .biglietto94-2 img{
      max-width: 70%;
    }
    
    .biglietti94-b img{
      max-width: 70%;
    }

     /*RASSEGNA 95*/
    .biglietti .biglietto1 img{
      max-width: 70%;
    }
    
    .biglietti .biglietto2 img{
      max-width: 70%;
    }

    #abbonamento .front-end{
     padding-left: 1rem;
    }

    .abbonamento1 img{
      max-width: 70%;
    }
    
    .abbonamento2 img{
      max-width: 70%;
    }

   /*RASSEGNA 96*/
    .biglietti96 .biglietto96-1 img{
      max-width: 90%;
    }
    
  .biglietti96 .biglietto96-2 img{
      max-width: 90%;
  }

 /*ALTRI INVITI*/
#inviti .invito .biglietto img{
   width: 90%;
 }
      
#inviti .invito .descrizione{
  font-size: 20px;
   padding-top: 3rem;
  }
      
 #inviti .invito .descrizione h2{
   width: 300px;
}
      
 #inviti .invito .biglietto-verticale img{
   width: 90%;
   }
      
#inviti .invito .descrizione-verticale{
  font-size: 20px;
    padding-top: 3rem;
 }
      
 #inviti .invito .descrizione-verticale h2{
    width: 300px;
   }

/*Video*/
/*FORTUNA VIDEO*/

#fortuna .title{
  font-size: 40px;
padding-left: 1rem;
}
