*{
    margin: 0;
    padding: 0;
}
  
html .body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: darkred;
}
  
  /*NAVBAR*/
  nav{
    background: #333;
    height: 80px;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.1rem;
  }
  
  label.logo{
    color: white;
    font-size: 60px;
  }
  
  nav ul{
    float: right;
    margin-right: 20px;
  }
  
  nav ul li{
    display: inline-block;
    margin: 10px 30px;
    color: orange;
    text-align: center;
    line-height: 50px;
  }
  
  .menu li.current{
    color: white;
  }
  
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }

  nav a.active,.menu li:hover{
    background: #555;
    color: white;
    border-radius: 10px;
  }

  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  
#check{
  display: none;
}


.container-main{
  text-align: center;
}

.container-main .title{
  display: flex;
  justify-content: center;
}

h1{
  color: orange;
  background: black;
  width: 30%;
  border-radius: 10px;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 50px;
}

.container-main img{
  max-width: 20%;
  border-radius: 100px;
}

.container-main p{
  color: white;
  font-size: 30px;
}

.container-poesie{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.container-poesie .poesia{
  width: 30%;
  color: black;
  font-size: 30px;
  font-style: italic;
  margin: 10px;
  background: white;
  padding: 10px;
  border-radius: 20px;
}


/*Footer*/
#footer{
    height: auto;
    background: #333;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap:  wrap;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  
  #footer h3{
    color: orange;
  }
  
  .contatti h3{
    padding-left: 70px;
    padding-top: 10px;
  }
  
  .contatti{
    font-size: 20px;
  }
  
  .contatti p{
    padding-left: 25px;
  }
  
  .contatti p a{
    color: white;
  }
  
  .contatti p a:hover{
    color: orange;
    transform: scale(1.1);
  }
  
  .contatti img{
    max-width: 45px;
  }
  
  .contatti .facebook{
    display: flex;
    align-items: center;
  }
  
  .contatti .facebook a{
    padding-left: 1rem;
    color: white;
  }
  
  .contatti .facebook a:hover{
    color: orange;
    transform: scale(1.1);
  }
  
  .dedica {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    font-size: 23px;
    padding-top: 3rem;
  }
  
  .dedica .color{
    color: orange;
  }
  
  .copyright{
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    font-size: 23px;
  }
  
  .sviluppo{
    display: flex;
    justify-content: center;
    align-items: end;
    color: orange;
    font-size: 23px;;
  }
  